@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:wght@700&display=swap');

#app {
  font-family: "DM Sans", serif;
  font-weight: bold;
}


/* Global width and overflow fixes */
html, body {
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}



/* Mobile viewport fix */
@viewport {
  width: device-width;
  zoom: 1.0;
}